In [1]:
import math
import numpy as np
import sklearn
import pandas as pd

In [2]:
prices = pd.read_csv('prices-split-adjusted.csv')
fund = pd.read_csv('fundamentals.csv')

In [3]:
prices

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0
...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0
851262,2016-12-30,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0
851263,2016-12-30,FTV,54.200001,53.630001,53.389999,54.480000,705100.0

In [330]:
fund

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,1776,ZION,2015-12-31,0.000000e+00,0.0,-2.530000e+06,4.0,-1.573610e+08,0.000000e+00,NaN,...,0.000000e+00,0.000000e+00,7.507519e+09,5.216201e+10,5.966952e+10,2.210591e+09,0.0,2015.0,1.20,2.578925e+08
1777,1777,ZTS,2013-12-31,1.381000e+09,-99000000.0,9.000000e+06,54.0,-1.840000e+08,8.780000e+08,43.0,...,3.357000e+09,1.415000e+09,9.400000e+08,5.618000e+09,6.558000e+09,4.561000e+09,0.0,2013.0,1.01,4.990099e+08
1778,1778,ZTS,2014-12-31,1.071000e+09,69000000.0,-7.000000e+06,44.0,-1.800000e+08,9.580000e+08,81.0,...,3.465000e+09,1.086000e+09,1.311000e+09,5.277000e+09,6.588000e+09,4.785000e+09,0.0,2014.0,1.16,5.025862e+08
1779,1779,ZTS,2015-12-31,1.313000e+09,-58000000.0,-8.100000e+07,32.0,-2.240000e+08,1.012000e+09,65.0,...,3.830000e+09,1.781000e+09,1.068000e+09,6.845000e+09,7.913000e+09,4.765000e+09,-203000000.0,2015.0,0.68,4.985294e+08
1780,1780,ZTS,2016-12-31,1.076000e+09,15000000.0,2.000000e+06,55.0,-2.160000e+08,1.024000e+09,65.0,...,3.390000e+09,1.117000e+09,1.487000e+09,6.162000e+09,7.649000e+09,4.888000e+09,-421000000.0,NaN,NaN,NaN

In [331]:
prices.dtypes

date       object
symbol     object
open      float64
close     float64
low       float64
high      float64
volume    float64
dtype: object

In [332]:
fund.dtypes

Unnamed: 0                        int64
Ticker Symbol                    object
Period Ending                    object
Accounts Payable                float64
Accounts Receivable             float64
                                 ...
Total Revenue                   float64
Treasury Stock                  float64
For Year                        float64
Earnings Per Share              float64
Estimated Shares Outstanding    float64
Length: 79, dtype: object

In [333]:
list(fund.dtypes)

[dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64')]

In [4]:
prices

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0
...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0
851262,2016-12-30,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0
851263,2016-12-30,FTV,54.200001,53.630001,53.389999,54.480000,705100.0

In [5]:
from datetime import date
import time

In [336]:
arr = []
for i in range(len(prices)):
    d = date.fromisoformat(prices.date[i])
    arr.append(time.mktime(d.timetuple()))

In [337]:
prices['daydates']=arr

In [338]:
prices.head()

,date,symbol,open,close,low,high,volume,daydates
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0,1.451970e+09
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0,1.452056e+09
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0,1.452143e+09
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0,1.452229e+09
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0,1.452488e+09

In [339]:
#fundd = fund
#fund = fund[:]

#takes a while

data = []
funds = {}
for i in range(len(fund)):
    arr = {}
    if i % 5 == 0:
        print(i)
    t = fund['Ticker Symbol'][i]
    d = time.mktime(date.fromisoformat(fund['Period Ending'][i]).timetuple())
    minn=99999999999
    mini=0
    for j in range(len(prices)):
        
        if prices.symbol[j] == t:
            d2 = prices.daydates[j]
            if (d > d2):
                continue
            if d2 - d < minn:
                minn = d2-d
                mini=j
                if minn == 0:
                    break
    arr['open'] = prices['open'][mini]
    arr['low'] = prices['low'][mini]
    arr['high'] = prices['high'][mini]
    arr['volume'] = prices['volume'][mini]
    arr['close'] = prices['close'][mini]
    
    for col in fund.columns[3:]:
        arr[col] = fund[col][i]
        
    if t in funds.keys():
        funds[t].append(arr)
        #   for col in fund.columns[3:]:
            #arr[col] = funds[t][-1][col] - arr[col]
        
   #     funds[t].append(arr)
    else:
        funds[t]=[arr]

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250
255
260
265
270
275
280
285
290
295
300
305
310
315
320
325
330
335
340
345
350
355
360
365
370
375
380
385
390
395
400
405
410
415
420
425
430
435
440
445
450
455
460
465
470
475
480
485
490
495
500
505
510
515
520
525
530
535
540
545
550
555
560
565
570
575
580
585
590
595
600
605
610
615
620
625
630
635
640
645
650
655
660
665
670
675
680
685
690
695
700
705
710
715
720
725
730
735
740
745
750
755
760
765
770
775
780
785
790
795
800
805
810
815
820
825
830
835
840
845
850
855
860
865
870
875
880
885
890
895
900
905
910
915
920
925
930
935
940
945
950
955
960
965
970
975
980
985
990
995
1000
1005
1010
1015
1020
1025
1030
1035
1040
1045
1050
1055
1060
1065
1070
1075
1080
1085
1090
1095
1100
1105
1110
1115
1120
1125
1130
1135
1140
1145
1150
1155
1160
1165
1170
1175
1180
1185
1190
1195
1200
1205
1210
1215
1220
1225
1230
1235
1240
1245
1250
1255
1260
1265
1270
1275
1280
1285
1290
1295
1300
1305
1310
1315
1320
1325
1330
1335
1340
1345
1350
1355
1360
1365
1370
1375
1380
1385
1390
1395
1400
1405
1410
1415
1420
1425
1430
1435
1440
1445
1450
1455
1460
1465
1470
1475
1480
1485
1490
1495
1500
1505
1510
1515
1520
1525
1530
1535
1540
1545
1550
1555
1560
1565
1570
1575
1580
1585
1590
1595
1600
1605
1610
1615
1620
1625
1630
1635
1640
1645
1650
1655
1660
1665
1670
1675
1680
1685
1690
1695
1700
1705
1710
1715
1720
1725
1730
1735
1740
1745
1750
1755
1760
1765
1770
1775
1780

In [340]:
actuallist = []
for i in funds:
    for j in funds[i]:
        actuallist.append(j)

In [341]:
data = pd.DataFrame.from_dict(actuallist)

In [6]:
#run this instead of above stuff
data = pd.read_csv('data.csv')

In [8]:
data

,Unnamed: 0,open,low,high,volume,close,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,12.850000,12.840000,13.680000,7005600.0,13.500000,3.068000e+09,-222000000.0,-1.961000e+09,23.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,24.740000,24.629999,25.250000,7166600.0,25.250000,4.975000e+09,-93000000.0,-2.723000e+09,67.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,53.900002,53.320000,54.639999,10626000.0,53.630001,4.668000e+09,-160000000.0,-1.500000e+08,143.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,42.540001,41.830002,42.570000,6788900.0,42.349998,5.102000e+09,352000000.0,-7.080000e+08,135.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,71.389999,71.300003,72.550003,454500.0,72.349998,2.409453e+09,-89482000.0,6.000000e+05,32.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,1776,27.260000,27.139999,27.639999,1737600.0,27.299999,0.000000e+00,0.0,-2.530000e+06,4.0,...,0.000000e+00,0.000000e+00,7.507519e+09,5.216201e+10,5.966952e+10,2.210591e+09,0.0,2015.0,1.20,2.578925e+08
1777,1777,32.799999,32.459999,32.810001,2270400.0,32.689999,1.381000e+09,-99000000.0,9.000000e+06,54.0,...,3.357000e+09,1.415000e+09,9.400000e+08,5.618000e+09,6.558000e+09,4.561000e+09,0.0,2013.0,1.01,4.990099e+08
1778,1778,43.459999,43.000000,43.880001,2131900.0,43.029999,1.071000e+09,69000000.0,-7.000000e+06,44.0,...,3.465000e+09,1.086000e+09,1.311000e+09,5.277000e+09,6.588000e+09,4.785000e+09,0.0,2014.0,1.16,5.025862e+08
1779,1779,47.930000,47.810001,48.400002,1758000.0,47.919998,1.313000e+09,-58000000.0,-8.100000e+07,32.0,...,3.830000e+09,1.781000e+09,1.068000e+09,6.845000e+09,7.913000e+09,4.765000e+09,-203000000.0,2015.0,0.68,4.985294e+08
1780,1780,123.430000,122.309998,126.250000,2163600.0,125.839996,1.076000e+09,15000000.0,2.000000e+06,55.0,...,3.390000e+09,1.117000e+09,1.487000e+09,6.162000e+09,7.649000e+09,4.888000e+09,-421000000.0,NaN,NaN,NaN

In [9]:
from pathlib import Path
#not running that again
file = data.to_csv(Path('data.csv'))

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1781 entries, 0 to 1780
Data columns (total 82 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           1781 non-null   int64
 1   open                                                 1781 non-null   float64
 2   low                                                  1781 non-null   float64
 3   high                                                 1781 non-null   float64
 4   volume                                               1781 non-null   float64
 5   close                                                1781 non-null   float64
 6   Accounts Payable                                     1781 non-null   float64
 7   Accounts Receivable                                  1781 non-null   float64
 8   Add'l income/expense items                           1781 non-null   float64
 9   After Tax ROE                                        1781 non-null   float64
 10  Capital Expenditures                                 1781 non-null   float64
 11  Capital Surplus                                      1781 non-null   float64
 12  Cash Ratio                                           1482 non-null   float64
 13  Cash and Cash Equivalents                            1781 non-null   float64
 14  Changes in Inventories                               1781 non-null   float64
 15  Common Stocks                                        1781 non-null   float64
 16  Cost of Revenue                                      1781 non-null   float64
 17  Current Ratio                                        1482 non-null   float64
 18  Deferred Asset Charges                               1781 non-null   float64
 19  Deferred Liability Charges                           1781 non-null   float64
 20  Depreciation                                         1781 non-null   float64
 21  Earnings Before Interest and Tax                     1781 non-null   float64
 22  Earnings Before Tax                                  1781 non-null   float64
 23  Effect of Exchange Rate                              1781 non-null   float64
 24  Equity Earnings/Loss Unconsolidated Subsidiary       1781 non-null   float64
 25  Fixed Assets                                         1781 non-null   float64
 26  Goodwill                                             1781 non-null   float64
 27  Gross Margin                                         1781 non-null   float64
 28  Gross Profit                                         1781 non-null   float64
 29  Income Tax                                           1781 non-null   float64
 30  Intangible Assets                                    1781 non-null   float64
 31  Interest Expense                                     1781 non-null   float64
 32  Inventory                                            1781 non-null   float64
 33  Investments                                          1781 non-null   float64
 34  Liabilities                                          1781 non-null   float64
 35  Long-Term Debt                                       1781 non-null   float64
 36  Long-Term Investments                                1781 non-null   float64
 37  Minority Interest                                    1781 non-null   float64
 38  Misc. Stocks                                         1781 non-null   float64
 39  Net Borrowings                                       1781 non-null   float64
 40  Net Cash Flow                                        1781 non-null   float64
 41  Net Cash Flow-Operating                              1781 non-null   float64
 42  Net Cash Flows-Financing                             1781 non-null   float64
 43  Net Cash Flows-Investing                             1781 non-null   float64
 44  Net Income                                           1781 non-null   float64
 45  Net Income Adjustments                               1781 non-null   float64
 46  Net Income Applicable to Common Shareholders         1781 non-null   float64
 47  Net Income-Cont. Operations                          1781 non-null   float64
 48  Net Receivables                                      1781 non-null   float64
 49  Non-Recurring Items                                  1781 non-null   float64
 50  Operating Income                                     1781 non-null   float64
 51  Operating Margin                                     1781 non-null   float64
 52  Other Assets                                         1781 non-null   float64
 53  Other Current Assets                                 1781 non-null   float64
 54  Other Current Liabilities                            1781 non-null   float64
 55  Other Equity                                         1781 non-null   float64
 56  Other Financing Activities                           1781 non-null   float64
 57  Other Investing Activities                           1781 non-null   float64
 58  Other Liabilities                                    1781 non-null   float64
 59  Other Operating Activities                           1781 non-null   float64
 60  Other Operating Items                                1781 non-null   float64
 61  Pre-Tax Margin                                       1781 non-null   float64
 62  Pre-Tax ROE                                          1781 non-null   float64
 63  Profit Margin                                        1781 non-null   float64
 64  Quick Ratio                                          1482 non-null   float64
 65  Research and Development                             1781 non-null   float64
 66  Retained Earnings                                    1781 non-null   float64
 67  Sale and Purchase of Stock                           1781 non-null   float64
 68  Sales, General and Admin.                            1781 non-null   float64
 69  Short-Term Debt / Current Portion of Long-Term Debt  1781 non-null   float64
 70  Short-Term Investments                               1781 non-null   float64
 71  Total Assets                                         1781 non-null   float64
 72  Total Current Assets                                 1781 non-null   float64
 73  Total Current Liabilities                            1781 non-null   float64
 74  Total Equity                                         1781 non-null   float64
 75  Total Liabilities                                    1781 non-null   float64
 76  Total Liabilities & Equity                           1781 non-null   float64
 77  Total Revenue                                        1781 non-null   float64
 78  Treasury Stock                                       1781 non-null   float64
 79  For Year                                             1608 non-null   float64
 80  Earnings Per Share                                   1562 non-null   float64
 81  Estimated Shares Outstanding                         1562 non-null   float64
dtypes: float64(81), int64(1)
memory usage: 1.1 MB

In [11]:
data2 = data.dropna(axis=1)

In [12]:
data2.shape

(1781, 76)

In [43]:
data2['bias']=1.0

/tmp/ipykernel_27217/1217672581.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['bias']=1.0

In [44]:
data2.shape

(1782, 77)

In [45]:
targets = ['close', 'high', 'low', 'volume']
#useless = ['Unnamed: 0', 'Ticker Symbol', 'Period Ending']
train_data = np.array(data2.drop(targets, axis=1))
test_data = np.array(data2[:][targets])

In [46]:
train_data.shape

(1782, 73)

In [47]:
test_data.shape

(1782, 4)

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
x_train, x_test, y_train, y_test = train_test_split(train_data, test_data, test_size=.2)

In [50]:
x_train.shape

(1425, 73)

In [51]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import BayesianRidge
from sklearn.linear_model import LinearRegression
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_squared_error

In [52]:
poly = PolynomialFeatures(degree=2)
px_train = poly.fit_transform(x_train)
px_test = poly.fit_transform(x_test)

In [53]:
px_train.shape

(1425, 2775)

In [60]:
mods=[]
for i in range(len(targets)):
    mod = LinearRegression().fit(px_train, y_train.T[i])
    p = mod.predict(px_test)
    print(targets[i])
    print(math.sqrt(mean_squared_error(mod.predict(px_train), y_train.T[i])))
    print(math.sqrt(mean_squared_error(p, y_test.T[i])))
    mods.append(mod)

close
0.008518784873786545
890913174.4066988
high
0.009566714552812864
899348612.1049336
low
0.0061258584012209415
865523349.1201525
volume
54557.29076803903
2539709536221428.0

In [55]:
mods2=[]
for i in range(len(targets)):
    mod = LinearRegression().fit(x_train, y_train.T[i])
    print(targets[i])
    p = mod.predict(x_test)
    print(math.sqrt(mean_squared_error(mod.predict(x_train), y_train.T[i])))
    print(math.sqrt(mean_squared_error(p, y_test.T[i])))
    mods2.append(mod)

close
1.1799417626893287
1.3140475084741066
high
0.7884624749515072
0.8053788433575627
low
0.5791643964930193
0.7939876060031167
volume
3710413.424314336
7364360.858386996

In [61]:
mods3=[]
for i in range(len(targets)):
    mod = BayesianRidge().fit(px_train, y_train.T[i])
    p = mod.predict(px_test)
    print(targets[i])
    print(math.sqrt(mean_squared_error(mod.predict(px_train), y_train.T[i])))
    print(math.sqrt(mean_squared_error(p, y_test.T[i])))
    mods3.append(mod)

close
682535357924.759
566906840859.4735
high
116213490272.95847
92800978067.1763
low
17319827564.815147
18421597755.53305
volume
2.2483148011396467e+18
1.882936568645571e+18

In [65]:
mods2[0].coef_

array([ 1.24897220e-04,  9.96458830e-01,  4.93851312e-12, -6.33555280e-11,
       -9.56862987e-11,  1.60103493e-04, -6.71856619e-11, -7.12527658e-12,
        1.06478713e-11,  1.19123324e-10, -1.16610114e-11, -6.70748888e-11,
        8.90281997e-12, -1.42704433e-11,  2.87991789e-11, -9.09183545e-10,
        6.35312115e-10,  1.58828380e-09,  4.40790161e-11, -1.42755278e-11,
       -1.03395789e-11,  2.32512466e-03, -6.85449613e-11,  7.81541327e-11,
        4.58056346e-13,  9.11442495e-10, -4.52883458e-11,  4.58535304e-12,
       -1.30840430e-11, -1.44493427e-12,  1.31836272e-12,  1.36824036e-11,
       -4.54142964e-11, -8.80554241e-11, -9.79901854e-11,  9.94472074e-11,
        1.60176643e-10,  7.18266280e-11, -5.20938202e-10, -1.51027454e-11,
        5.39918527e-10,  6.56257895e-11, -2.97593339e-11,  1.77974475e-11,
        1.56175788e-10, -1.06371274e-02, -4.86596874e-13, -5.92028128e-11,
       -1.83446869e-11, -5.59233944e-11, -9.71279515e-11,  1.13187099e-11,
       -9.07218745e-12, -2.18905449e-11, -1.12864995e-11,  1.54609961e-02,
       -1.12208913e-04, -8.72289525e-03, -4.79605080e-11,  6.81805307e-13,
       -2.53712973e-11, -1.01761932e-11, -9.07837694e-12,  4.57361839e-12,
       -1.01145203e-10,  1.25202314e-11,  1.28806514e-11, -1.22563468e-01,
       -1.22563468e-01,  1.22563468e-01,  7.06780016e-11, -1.03585682e-11,
        0.00000000e+00])

In [63]:
data2.columns

Index(['Unnamed: 0', 'open', 'low', 'high', 'volume', 'close',
       'Accounts Payable', 'Accounts Receivable', 'Add'l income/expense items',
       'After Tax ROE', 'Capital Expenditures', 'Capital Surplus',
       'Cash and Cash Equivalents', 'Changes in Inventories', 'Common Stocks',
       'Cost of Revenue', 'Deferred Asset Charges',
       'Deferred Liability Charges', 'Depreciation',
       'Earnings Before Interest and Tax', 'Earnings Before Tax',
       'Effect of Exchange Rate',
       'Equity Earnings/Loss Unconsolidated Subsidiary', 'Fixed Assets',
       'Goodwill', 'Gross Margin', 'Gross Profit', 'Income Tax',
       'Intangible Assets', 'Interest Expense', 'Inventory', 'Investments',
       'Liabilities', 'Long-Term Debt', 'Long-Term Investments',
       'Minority Interest', 'Misc. Stocks', 'Net Borrowings', 'Net Cash Flow',
       'Net Cash Flow-Operating', 'Net Cash Flows-Financing',
       'Net Cash Flows-Investing', 'Net Income', 'Net Income Adjustments',
       'Net Income Applicable to Common Shareholders',
       'Net Income-Cont. Operations', 'Net Receivables', 'Non-Recurring Items',
       'Operating Income', 'Operating Margin', 'Other Assets',
       'Other Current Assets', 'Other Current Liabilities', 'Other Equity',
       'Other Financing Activities', 'Other Investing Activities',
       'Other Liabilities', 'Other Operating Activities',
       'Other Operating Items', 'Pre-Tax Margin', 'Pre-Tax ROE',
       'Profit Margin', 'Research and Development', 'Retained Earnings',
       'Sale and Purchase of Stock', 'Sales, General and Admin.',
       'Short-Term Debt / Current Portion of Long-Term Debt',
       'Short-Term Investments', 'Total Assets', 'Total Current Assets',
       'Total Current Liabilities', 'Total Equity', 'Total Liabilities',
       'Total Liabilities & Equity', 'Total Revenue', 'Treasury Stock',
       'bias'],
      dtype='object')

In [64]:
data2

,Unnamed: 0,open,low,high,volume,close,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,...,Short-Term Investments,Total Assets,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,bias
0,0.0,12.850000,12.840000,13.680000,7005600.0,13.500000,3.068000e+09,-222000000.0,-1.961000e+09,23.0,...,3.412000e+09,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,1.0
1,1.0,24.740000,24.629999,25.250000,7166600.0,25.250000,4.975000e+09,-93000000.0,-2.723000e+09,67.0,...,8.111000e+09,4.227800e+10,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,1.0
2,2.0,53.900002,53.320000,54.639999,10626000.0,53.630001,4.668000e+09,-160000000.0,-1.500000e+08,143.0,...,6.309000e+09,4.322500e+10,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,1.0
3,3.0,42.540001,41.830002,42.570000,6788900.0,42.349998,5.102000e+09,352000000.0,-7.080000e+08,135.0,...,5.864000e+09,4.841500e+10,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,1.0
4,4.0,71.389999,71.300003,72.550003,454500.0,72.349998,2.409453e+09,-89482000.0,6.000000e+05,32.0,...,0.000000e+00,4.613814e+09,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1777,1777.0,32.799999,32.459999,32.810001,2270400.0,32.689999,1.381000e+09,-99000000.0,9.000000e+06,54.0,...,0.000000e+00,6.558000e+09,3.357000e+09,1.415000e+09,9.400000e+08,5.618000e+09,6.558000e+09,4.561000e+09,0.0,1.0
1778,1778.0,43.459999,43.000000,43.880001,2131900.0,43.029999,1.071000e+09,69000000.0,-7.000000e+06,44.0,...,0.000000e+00,6.588000e+09,3.465000e+09,1.086000e+09,1.311000e+09,5.277000e+09,6.588000e+09,4.785000e+09,0.0,1.0
1779,1779.0,47.930000,47.810001,48.400002,1758000.0,47.919998,1.313000e+09,-58000000.0,-8.100000e+07,32.0,...,0.000000e+00,7.913000e+09,3.830000e+09,1.781000e+09,1.068000e+09,6.845000e+09,7.913000e+09,4.765000e+09,-203000000.0,1.0
1780,1780.0,123.430000,122.309998,126.250000,2163600.0,125.839996,1.076000e+09,15000000.0,2.000000e+06,55.0,...,0.000000e+00,7.649000e+09,3.390000e+09,1.117000e+09,1.487000e+09,6.162000e+09,7.649000e+09,4.888000e+09,-421000000.0,1.0
bias,1.0,1.000000,1.000000,1.000000,1.0,1.000000,1.000000e+00,1.0,1.000000e+00,1.0,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.0